workflows/recordatorios_agent.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -624,
        -48
      ],
      "id": "43e4d40c-754e-4330-b6f1-54f3d9f3b6c0",
      "name": "Loop Over Items"
    },
    
    {
      "parameters": {
        "chatId": "={{ $json.creado_por }}",
        "text": "=Te recordamos que tienes el habito {{ $json.nombre }} a las {{ $json.hora }}.\n\n9. Volver al menú principal.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -48
      ],
      "id": "2210a90b-aae4-4ec0-bf0e-aa3850196e86",
      "name": "Send a text message",
      "webhookId": "3a72ba5f-6ff8-4e38-9130-6e9e2fc0ec74",
      "credentials": {
        "telegramApi": {
          "id": "AuOsOvTaESN9dlio",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3d67c8e3-7125-4acb-ac78-a4a843d9fa5d",
              "leftValue": "={{ $json.recordatorio >= -0.0833 }}",
              "rightValue": "pendiente",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2a9d93fe-0fdb-4849-802c-8c0d4f71ae99",
              "leftValue": "={{ $json.recordatorio <= 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -128
      ],
      "id": "3e6a0e96-a443-4231-a80b-89aa55fdb788",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dde1c088-e10f-46db-b6bf-57d11f75db6f",
              "name": "=recordatorio",
              "value": "={{ $now.diff(DateTime.fromFormat($json.hora_recordatorio, 'H:mm'), 'hours').hours }}",
              "type": "string"
            },
            {
              "id": "ad689ea3-570b-49a4-b959-e17f593cf716",
              "name": "creado_por",
              "value": "={{ $json.creado_por }}",
              "type": "number"
            },
            {
              "id": "7ecc880c-5597-4278-b654-f1e9680d80ec",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "b7571b92-ed1e-4ace-b352-dfba7f410677",
              "name": "hora",
              "value": "={{ $json.hora_recordatorio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -192
      ],
      "id": "a9ebd81a-8f1f-43d3-ae92-51743bdeed5d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        -48
      ],
      "id": "580500ac-7ad5-4afc-b7d4-6a1c32b59830",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 913708670,
          "mode": "list",
          "cachedResultName": "HABITOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=913708670"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -848,
        -48
      ],
      "id": "68bd265b-7b1d-4566-9b2c-623c9fefefe7",
      "name": "GET_ALL_HABITOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cdsgNdTdmY34J5xh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "chatInput"
            },
            {
              "name": "actual_screen"
            }
          ]
        }
      },
      "id": "05c7c78a-8381-4069-8e09-6c66a94769d2",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1104,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8d547ae-1d75-4885-ae8f-9c8d1ba18ef1",
              "name": "output",
              "value": "={{ $json.output.parseJson() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        880
      ],
      "id": "772d0598-ac76-4266-8efd-de8d62cb6947",
      "name": "Edit Fields2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\n\nif (!raw) {\n  return { json: { error: \"No output received\" } };\n}\n\nif (typeof raw === 'object' && raw !== null) {\n    return {\n        json: {\n            output: raw\n        }\n    };\n}\n\nlet braceCount = 0;\nlet startIndex = raw.indexOf('{');\nlet endIndex = -1;\n\nif (startIndex === -1) {\n   return { json: { error: \"No JSON found\" } };\n}\n\nfor (let i = startIndex; i < raw.length; i++) {\n    if (raw[i] === '{') {\n        braceCount++;\n    } else if (raw[i] === '}') {\n        braceCount--;\n\n        if (braceCount === 0) {\n            endIndex = i;\n            break; \n        }\n    }\n}\n\nif (endIndex !== -1) {\n    const cleanJsonString = raw.substring(startIndex, endIndex + 1);\n    try {\n        const parsedObject = JSON.parse(cleanJsonString);\n        return {\n            json: {\n                output: parsedObject\n            }\n        };\n    } catch (e) {\n        throw new Error(\"Error parseando el JSON limpio: \" + e.message);\n    }\n} else {\n    throw new Error(\"No se pudo encontrar un objeto JSON completo en la respuesta.\");\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        880
      ],
      "id": "48f889d3-8075-45f9-bb1c-4c99cc110a79",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1495084735,
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=1495084735"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -624,
        1104
      ],
      "id": "395d61af-943e-41f0-9b8e-eab96a1f2ce2",
      "name": "Obtain Session Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cdsgNdTdmY34J5xh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -752,
        1104
      ],
      "id": "63b6e831-d8ac-4bd4-8e1e-0d94dea7ab24",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8d547ae-1d75-4885-ae8f-9c8d1ba18ef1",
              "name": "output",
              "value": "={{ $json.output.parseJson() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        880
      ],
      "id": "7dd36d41-c7d5-4c01-961a-b4b5c0a0296a",
      "name": "Edit Fields1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3587ee16-f308-45f9-be7a-e6588bec257e",
              "leftValue": "={{ $json.output.pantalla_actual }}",
              "rightValue": "MAIN_MENU",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        880
      ],
      "id": "e47d116e-9229-4d8e-a14f-f0bd2e54f59b",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca1078ac-600f-4b81-b7c0-273867986c4c",
              "name": "output",
              "value": "=¿Qué información deseas consultar hoy? \n\n1. Reporte diario\n2. Reporte semanal\n3. Productividad (tareas)\n4. Hábitos (cumplimiento)\n5. Agenda (estado de citas)\n6. Productividad por usuario (reporte completo)\n9. Volver al menú principal\n",
              "type": "string"
            },
            {
              "id": "c34739b7-9026-46ae-9f7d-cb6f57eeec0b",
              "name": "data",
              "value": "={\n  \"actual_screen\": \"RECORDATORIOS\",\n  \"next_step\": 1\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        784
      ],
      "id": "69a1b747-3aeb-4c3d-bec3-ac8678e521f3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\n\nif (!raw) {\n  return { json: { error: \"No output received\" } };\n}\n\nif (typeof raw === 'object' && raw !== null) {\n    return {\n        json: {\n            output: raw\n        }\n    };\n}\n\nlet braceCount = 0;\nlet startIndex = raw.indexOf('{');\nlet endIndex = -1;\n\nif (startIndex === -1) {\n   return { json: { error: \"No JSON found\" } };\n}\n\nfor (let i = startIndex; i < raw.length; i++) {\n    if (raw[i] === '{') {\n        braceCount++;\n    } else if (raw[i] === '}') {\n        braceCount--;\n\n        if (braceCount === 0) {\n            endIndex = i;\n            break; \n        }\n    }\n}\n\nif (endIndex !== -1) {\n    const cleanJsonString = raw.substring(startIndex, endIndex + 1);\n    try {\n        const parsedObject = JSON.parse(cleanJsonString);\n        return {\n            json: {\n                output: parsedObject\n            }\n        };\n    } catch (e) {\n        throw new Error(\"Error parseando el JSON limpio: \" + e.message);\n    }\n} else {\n    throw new Error(\"No se pudo encontrar un objeto JSON completo en la respuesta.\");\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        880
      ],
      "id": "843f5968-1621-4f63-9276-6557bc41e045",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# CONTEXTO DE DATOS\nRecibirás un objeto JSON con el resumen analítico. Utiliza estas variables:\n- Usuario más activo: {{ $json.data_analytics.most_active }}\n- Total citas: {{ $json.data_analytics.total_citas }}\n- Total tareas: {{ $json.data_analytics.total_tareas }}\n- Total interacciones: {{ $json.data_analytics.total_logs }}\n- Listado detallado: {{ $json.data_analytics.user_details_list }}",
        "options": {
          "systemMessage": "=Eres el Analista de Productividad de AgendaBot. Tu función es generar un reporte de gestión unificado y profesional.\n\n# CONTEXTO RECIBIDO\nRecibirás un objeto JSON con las siguientes métricas:\n- most_active: El ID del usuario con más interacciones.\n- total_citas: Suma total de citas del sistema.\n- total_tareas: Suma total de tareas del sistema.\n- total_logs: Suma total de interacciones del sistema.\n- user_details_list: El listado detallado de cada usuario.\n\n# FORMATO DE RESPUESTA (MARKDOWN)\nDebes responder EXACTAMENTE con esta estructura de mensaje:\n\nPerfecto. Voy a generarte el reporte de productividad. \n\nEn un momento ya te lo muestro.\n\n📊 Reporte de productividad (AgendaBot)\n\nResumen general\n- 🏆 Usuario más activo: @{{ $json.data_analytics.most_active }}\n- 📅 Total citas registradas: {{ $json.data_analytics.total_citas }}\n- ✅ Total tareas registradas: {{ $json.data_analytics.total_tareas }}\n- 💬 Total interacciones con el bot: {{ $json.data_analytics.total_logs }}\n\nDetalle por usuario\n{{ $json.data_analytics.user_details_list }}\n\n----------------------------------\n¿Qué deseas hacer ahora?\n1. Volver al menú Reportes\n9. Volver al menú principal\n\n# REGLAS CRÍTICAS\n1. Usa el Markdown tal cual se muestra (negritas y emojis).\n2. No inventes datos. Si un valor es 0, pon 0.\n3. Responde siempre en el formato JSON de salida requerido por el sistema.\n\n# FORMATO JSON DE SALIDA\n{\n  \"output\": \"AQUÍ_VA_EL_MENSAJE_COMPLETO_MARKDOWN\",\n  \"data\": {\n    \"next_step\": \"0\",\n    \"temp_data\": {},\n    \"action\": \"CONTINUAR\",\n    \"actual_screen\": \"REPORTES\"\n  }\n}\n\n# REGLA\n\n- debes reotornar un formato Markdown Válido."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2496,
        880
      ],
      "id": "ce4b1664-e6d6-48d5-b5a9-6f400007c688",
      "name": "REPORTES AGENT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"telegram_user\": \"{{ $json.sessionId }}\",\n  \"pantalla_actual\": \"{{ $json.actual_screen }}\",\n  \"paso_actual\": \"VALOR_RECUPERADO\",\n  \"datos_parciales\": \"VALOR_RECUPERADO_TAL_CUAL\",\n  \"input\": \"{{ $json.chatInput }}\"\n}",
        "options": {
          "systemMessage": "=Eres un componente técnico de \"Middleware\" para AgendaBot.\nNO eres un asistente conversacional. NO tomes decisiones sobre el flujo.\nTu ÚNICA función es ejecutar la herramienta `obtain_session_info` y formatear la salida.\n\n# INSTRUCCIONES DE EJECUCIÓN\n1. Llama a la herramienta `obtain_session_info` usando el ID del usuario.\n2. Toma el resultado crudo de la herramienta.\n3. Combínalo con el input actual del usuario.\n4. Genera UN SOLO objeto JSON final.\n\n# REGLAS CRÍTICAS DE SALIDA\n- **Siempre** debes usar la herramienta `obtain_session_info`.\n- NO incluyas bloques de código markdown (```json).\n- NO incluyas explicaciones ni texto fuera del JSON.\n- NO intentes predecir el siguiente paso del bot.\n- NO repitas la salida. Solo un JSON.\n\n\n# ESTRUCTURA OBLIGATORIA DEL JSON\n{\n  \"telegram_user\": \"ID_RECUPERADO\",\n  \"pantalla_actual\": \"VALOR_RECUPERADO\",\n  \"paso_actual\": \"VALOR_RECUPERADO\",\n  \"datos_parciales\": \"VALOR_RECUPERADO_TAL_CUAL\",\n  \"input\": \"{{ $json.chatInput }}\"\n}\n\n# USO DE LA MEMORIA\n- Solamente debes utilizar la memoria para recuperar los datos parciales. NO la debes utilizar para recordar más cosas. Solamente los datos:\n\nTelegram ID del usuario a editar:\nNombre del usuario a editar:\nRol seleccionado del usuario a editar:\nEstado de acceso del usuario a editar:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -832,
        880
      ],
      "id": "52e568bd-023b-4d83-9af5-55d8cc62bd23",
      "name": "MEMORIA REPORTES"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1024407466,
          "mode": "list",
          "cachedResultName": "CITAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=1024407466"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        880
      ],
      "id": "fd78878f-feeb-445f-af3d-7be34e0538f8",
      "name": "GET CITAS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cdsgNdTdmY34J5xh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1024407466,
          "mode": "list",
          "cachedResultName": "CITAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=1024407466"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        880
      ],
      "id": "6de2a004-146e-4592-a3e7-ddfe88840282",
      "name": "GET TAREAS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cdsgNdTdmY34J5xh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 761378897,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=761378897"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        880
      ],
      "id": "68effb85-d883-418d-a8a8-5babded2b87e",
      "name": "GET LOGS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cdsgNdTdmY34J5xh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los ítems de la tabla CITAS\nconst items = $input.all();\n\n// Objeto para agrupar los datos por ID de usuario\nconst resumenPorUsuario = {};\n\nitems.forEach(item => {\n  const cita = item.json;\n  // Usamos el ID del creador. Si está vacío, lo agrupamos como \"Sin ID\"\n  const userId = cita.creado_por || \"Sin_ID\";\n  const estado = (cita.estado || \"PENDIENTE\").toUpperCase();\n\n  // Si el usuario no existe en nuestro objeto, lo inicializamos\n  if (!resumenPorUsuario[userId]) {\n    resumenPorUsuario[userId] = {\n      telegram_user: userId,\n      total_citas: 0,\n      completadas: 0,\n      canceladas: 0,\n      pendientes: 0,\n      listado_citas: [] // Para guardar detalles si se necesitan\n    };\n  }\n\n  // Aumentamos el contador total\n  resumenPorUsuario[userId].total_citas++;\n\n  // Clasificamos por estado para el reporte\n  if (estado === \"COMPLETADA\" || estado === \"COMPLETADO\") {\n    resumenPorUsuario[userId].completadas++;\n  } else if (estado === \"CANCELADA\" || estado === \"CANCELADO\") {\n    resumenPorUsuario[userId].canceladas++;\n  } else {\n    resumenPorUsuario[userId].pendientes++;\n  }\n\n  // Agregamos la información resumida de esta cita al listado del usuario\n  resumenPorUsuario[userId].listado_citas.push({\n    id: cita.id_cita,\n    nombre: cita.nombre,\n    motivo: cita.motivo,\n    fecha: cita.fecha\n  });\n});\n\n// Convertimos el objeto en una lista de ítems para n8n\nreturn Object.values(resumenPorUsuario).map(data => {\n  return {\n    json: data\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        880
      ],
      "id": "513e35c2-6028-47ee-aacb-6b8009c4931c",
      "name": "AGGREGATE CITAS"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst resumenUsuarios = {};\n\nfor (const item of items) {\n  const cita = item.json;\n  const userId = cita.creado_por || \"Desconocido\";\n  \n  // Si el usuario no existe, inicializamos su objeto con estadísticas y array de detalles\n  if (!resumenUsuarios[userId]) {\n    resumenUsuarios[userId] = {\n      telegram_user: userId,\n      resumen: {\n        total: 0,\n        completadas: 0,\n        canceladas: 0,\n        pendientes: 0\n      },\n      citas: [] // Aquí guardaremos la información detallada que pediste\n    };\n  }\n\n  // 1. Actualizamos las estadísticas\n  resumenUsuarios[userId].resumen.total++;\n  const estado = (cita.estado || \"PENDIENTE\").toUpperCase();\n\n  if (estado === \"COMPLETADA\" || estado === \"COMPLETADO\") {\n    resumenUsuarios[userId].resumen.completadas++;\n  } else if (estado === \"CANCELADA\" || estado === \"CANCELADO\") {\n    resumenUsuarios[userId].resumen.canceladas++;\n  } else {\n    resumenUsuarios[userId].resumen.pendientes++;\n  }\n\n  // 2. Agregamos la información detallada de la cita que pediste\n  resumenUsuarios[userId].citas.push({\n    id_cita: cita.id_cita,\n    nombre: cita.nombre,\n    fecha: cita.fecha,\n    hora: cita.hora,\n    motivo: cita.motivo,\n    canal: cita.canal,\n    estado: cita.estado\n  });\n}\n\n// Retornamos el array de usuarios con toda su info organizada\nreturn Object.values(resumenUsuarios).map(data => {\n  return {\n    json: data\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        880
      ],
      "id": "868bd757-7c65-4e16-95a2-89dab76e3f3c",
      "name": "AGGREGATE TAREAS"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los registros de logs del nodo anterior\nconst items = $input.all();\n\n// Objeto para contar las interacciones por usuario\nconst contadorLogs = {};\n\nfor (const item of items) {\n  const userId = item.json.telegram_user;\n  \n  // Validamos que el ID exista\n  if (userId) {\n    // Si el usuario no existe en el contador, lo iniciamos en 1\n    // Si ya existe, le sumamos 1\n    contadorLogs[userId] = (contadorLogs[userId] || 0) + 1;\n  }\n}\n\n// Convertimos el resultado en un array de ítems limpio para n8n\nreturn Object.keys(contadorLogs).map(userId => {\n  return {\n    json: {\n      telegram_user: userId,\n      interacciones: contadorLogs[userId]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        880
      ],
      "id": "c2a440d8-6ecc-471c-a480-a89b33fd166f",
      "name": "AGGREGATE LOGS"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2018582490,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=2018582490"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        880
      ],
      "id": "27bc5643-3e09-47f0-8a12-ac91945ef80e",
      "name": "GET USERS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cdsgNdTdmY34J5xh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos datos de todos los nodos\nconst dataCitas = $(\"AGGREGATE CITAS\").all();\nconst dataTareas = $(\"AGGREGATE TAREAS\").all();\nconst dataLogs = $(\"AGGREGATE LOGS\").all();\nconst userMap = $(\"AGGREGATE USERS\").first().json.user_map; // <-- Obtenemos el mapa de nombres\n\nconst mergedData = {};\n\n// Función auxiliar para obtener el nombre o devolver el ID si no existe\nconst getName = (id) => userMap[String(id)] || id;\n\n// --- PROCESAR LOGS (CARRIL BASE) ---\ndataLogs.forEach(item => {\n  const id = String(item.json.telegram_user);\n  mergedData[id] = {\n    nombre: getName(id), // <-- Cambiamos ID por Nombre\n    interacciones: item.json.interacciones || 0,\n    citas: { total: 0, completadas: 0, canceladas: 0, pendientes: 0 },\n    tareas: { total: 0, completadas: 0, canceladas: 0, pendientes: 0 }\n  };\n});\n\n// --- PROCESAR CITAS ---\ndataCitas.forEach(item => {\n  const id = String(item.json.telegram_user);\n  if (!mergedData[id]) mergedData[id] = { nombre: getName(id), interacciones: 0, citas: {}, tareas: {} };\n  \n  mergedData[id].citas = item.json.stats || { total: item.json.total_citas, completadas: item.json.completadas, canceladas: item.json.canceladas, pendientes: item.json.pendientes };\n});\n\n// --- PROCESAR TAREAS ---\ndataTareas.forEach(item => {\n  const id = String(item.json.telegram_user);\n  if (!mergedData[id]) mergedData[id] = { nombre: getName(id), interacciones: 0, citas: {}, tareas: {} };\n  \n  const res = item.json.stats ? item.json.stats.tareas : item.json.resumen;\n  mergedData[id].tareas = res || { total: 0, completadas: 0, canceladas: 0, pendientes: 0 };\n});\n\n// --- CALCULAR TOTALES Y FORMATEAR LISTADO ---\nlet globalCitas = 0, globalTareas = 0, globalLogs = 0;\nlet mostActiveName = \"N/A\", maxInter = -1;\n\nconst userDetails = Object.values(mergedData).map((user, index) => {\n  globalCitas += user.citas.total || 0;\n  globalTareas += user.tareas.total || 0;\n  globalLogs += user.interacciones || 0;\n\n  if (user.interacciones > maxInter) {\n    maxInter = user.interacciones;\n    mostActiveName = user.nombre; // <-- Guardamos el nombre del más activo\n  }\n\n  return `${index + 1}) @${user.nombre}\\n   - Citas: ${user.citas.total || 0} (Completadas: ${user.citas.completadas || 0})\\n   - Tareas: ${user.tareas.total || 0} (Hechas: ${user.tareas.completadas || 0})\\n   - Interacciones: ${user.interacciones}`;\n});\n\nreturn {\n  data_analytics: {\n    most_active: mostActiveName, // <-- Nombre en lugar de ID\n    total_citas: globalCitas,\n    total_tareas: globalTareas,\n    total_logs: globalLogs,\n    user_details_list: userDetails.join('\\n\\n')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        880
      ],
      "id": "69d23974-3e40-41ae-ba8c-21faa92453f9",
      "name": "USERS IDs"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los registros de la tabla USUARIOS\nconst items = $input.all();\n\n// Creamos un objeto para mapear ID -> Nombre\nconst userMap = {};\n\nitems.forEach(item => {\n  const userId = String(item.json.telegram_user);\n  const nombre = item.json.nombre;\n  \n  // Si el ID existe y aún no lo hemos guardado, lo agregamos al mapa\n  if (userId && !userMap[userId]) {\n    userMap[userId] = nombre;\n  }\n});\n\n// Retornamos el mapa de usuarios en un solo ítem\nreturn {\n  user_map: userMap\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        880
      ],
      "id": "5cb46b1c-0288-4cc7-bc0b-70067e2212b8",
      "name": "AGGREGATE USERS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fd3e2d89-598a-4e6a-9f4c-57504791c7ce",
              "leftValue": "={{ $json.output.input }}",
              "rightValue": "6",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "78ef1066-b6b0-4b52-9916-99ea59f2acf8",
              "leftValue": "={{ $json.output.paso_actual }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        976
      ],
      "id": "511f7577-b464-47d6-aaa7-c9e65f776631",
      "name": "If2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca1078ac-600f-4b81-b7c0-273867986c4c",
              "name": "output",
              "value": "=Opcion no válida.\n\n9. Volver al Menú principal",
              "type": "string"
            },
            {
              "id": "c34739b7-9026-46ae-9f7d-cb6f57eeec0b",
              "name": "output",
              "value": "={\n  \"data\": {\n    \"actual_screen\": \"REPORTES\",\n    \"next_step\": 1\n  } \n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1072
      ],
      "id": "fb0058bc-105e-401e-878e-824e7975896d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -976,
        1088
      ],
      "id": "d5e9205d-8ebb-4063-9013-9945b0ea461f",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        1088
      ],
      "id": "944734f2-5a25-428a-a4b1-c5f017fd70d3",
      "name": "Google Gemini Chat Model1"
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET_ALL_HABITOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_ALL_HABITOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "MEMORIA REPORTES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtain Session Info": {
      "ai_tool": [
        [
          {
            "node": "MEMORIA REPORTES",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "MEMORIA REPORTES",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REPORTES AGENT": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MEMORIA REPORTES": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CITAS": {
      "main": [
        [
          {
            "node": "AGGREGATE CITAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TAREAS": {
      "main": [
        [
          {
            "node": "AGGREGATE TAREAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET LOGS": {
      "main": [
        [
          {
            "node": "AGGREGATE LOGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE CITAS": {
      "main": [
        [
          {
            "node": "GET TAREAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE TAREAS": {
      "main": [
        [
          {
            "node": "GET LOGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE LOGS": {
      "main": [
        [
          {
            "node": "GET USERS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET USERS": {
      "main": [
        [
          {
            "node": "AGGREGATE USERS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "USERS IDs": {
      "main": [
        [
          {
            "node": "REPORTES AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGREGATE USERS": {
      "main": [
        [
          {
            "node": "USERS IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "GET CITAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MEMORIA REPORTES",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "REPORTES AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd0b5ff9fcf012fab5c9ebab5608e94db503544ddc3e28e8fbc1750266c5935f"
  }
}