workflows/recordatorios_agent.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROL\nEres un agente que se encarga de solo enviar mensajes de recordatorio sobre `CITAS` y `TAREAS` de un usuario.\n\n# HERRAMIENTAS\nTienes a tu disposicion, 2 herramientas:\n1. `GET_TAREAS` trae todas las tareas del usuario.\n2. `GET_CITAS` trae todas las citas del usuario.\n\n# REGLAS\n- El estado de las tareas o citas a recordar debe ser `PENDIENTE`.\n- La fecha de la cita debe ser mayor o igual a la fecha actual: {{ $now.format('yyyy-MM-dd') }}.\n- La fecha objetivo de la tarea debe ser mayor o igual a la fecha actual: {{ $now.format('yyyy-MM-dd') }}.\n- Solamente debes enviar el mensaje de recordatorio y al final debes devolver el siguiente menú: `\\n9. Volver al menú principal.`\n- Debes retornar la informacion en formato markdown sin los ```markdown```. Solamente el texto en ese formato y estructuralo de una manera bonita y agradable visualmente.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "51d61e11-c858-4a38-af37-eca57de066fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telegram_user"
            }
          ]
        }
      },
      "id": "88eb6358-5aa6-4a87-a586-21d605d2282f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 962208280,
          "mode": "list",
          "cachedResultName": "TAREAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=962208280"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Start').item.json.telegram_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        224
      ],
      "id": "7c9a9f19-c451-4d8f-9e9a-57c11df930fa",
      "name": "GET_TAREAS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlZYHrjKDTxHghoa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U",
          "mode": "list",
          "cachedResultName": "n8n_proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1024407466,
          "mode": "list",
          "cachedResultName": "CITAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kULA8R52h-BNE1vC09og0Yl8PKV3nUFJ2OUfD561S3U/edit#gid=1024407466"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Start').item.json.telegram_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        528,
        224
      ],
      "id": "4cb61196-9795-48e7-820b-91882cc82d9a",
      "name": "GET_CITAS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlZYHrjKDTxHghoa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "bfd3a79f-2066-4d1b-a89a-6f2d82f96ae6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Uraezaqnm4BlWCgn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_TAREAS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET_CITAS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e7f61551d974e9201959bc61f3fe1ba29fb38be1f22e798be449222f24c742f"
  }
}